<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>tp1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Ajouter</servlet-name>
    <servlet-class>controller.Ajouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajouter</servlet-name>
    <url-pattern>/ajouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Supprimer</servlet-name>
    <servlet-class>controller.Supprimer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Supprimer</servlet-name>
    <url-pattern>/supprimer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Authentification</servlet-name>
    <servlet-class>controller.auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentification</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>controller.Servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/servelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjouterProduit</servlet-name>
    <servlet-class>controller.AjouterProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterProduit</servlet-name>
    <url-pattern>/ajoutProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjouterUser</servlet-name>
    <servlet-class>controller.AjouterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterUser</servlet-name>
    <url-pattern>/ajouterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecupeProduit</servlet-name>
    <servlet-class>controller.RecupeProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecupeProduit</servlet-name>
    <url-pattern>/recupeProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecupeUser</servlet-name>
    <servlet-class>controller.RecupeUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecupeUser</servlet-name>
    <url-pattern>/recupeUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecupePanier</servlet-name>
    <servlet-class>controller.RecupePanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecupePanier</servlet-name>
    <url-pattern>/recupePanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupprimerProduit</servlet-name>
    <servlet-class>controller.SupprimerProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerProduit</servlet-name>
    <url-pattern>/supprimerProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>controller.SupprimerUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>SupprimerPanier</servlet-name>
  	<servlet-class>controller.SupprimerPanier</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>SupprimerPanier</servlet-name>
  	<url-pattern>/SupprimePanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecupeProduitForUser</servlet-name>
    <servlet-class>controller.RecupeProduitForUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecupeProduitForUser</servlet-name>
    <url-pattern>/recupeForUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjouterPanier</servlet-name>
    <servlet-class>controller.AjouterPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterPanier</servlet-name>
    <url-pattern>/ajoutPanier</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>FiltreNormal</filter-name>
    <filter-class>controller.Filtre</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltreNormal</filter-name>
    <url-pattern>/EspaceAdmin</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FiltreAdmin</filter-name>
    <filter-class>controller.FiltreEspaceAdmin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltreAdmin</filter-name>
    <url-pattern>/EspaceAdmin/*</url-pattern>
  </filter-mapping>
  
  
  <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>
    
</web-app>